
.checkout__bill{
  background: #fde4e4;
  padding: 30px;
}
.chekout__total{
  border-top: 1px solid #867272;
  padding-top: 30px;
}

@media only screen and (max-width: 480px) {
  .checkout__bill h6 {
   font-size: 0.7rem;
  }
  .checkout__bill{
    margin-top: 40px;
    margin: 10px;
  }
}
